    /* You can add global styles to this file, and also import other style files */
    body {
      font-family: 'Roboto', sans-serif;
      background-image: url("gladiator.png"); 
      background-size: auto;
      background-size: 100%;

    }  
    /* index.html */
    h1 {
      font-size: 120px;
      font-weight: bold;
      color: rgb(98, 10, 16);
      text-shadow: 2px 4px 4px rgba(46, 0, 0, 0.6);
    } 
    h3 {
      height: 30px;
      font-weight: bold;
      font-size: 30px;
      color: rgb(0, 0, 0);
      text-shadow: 2px 4px 4px rgba(46, 0, 0, 0.6);
    } 
    .entrypage {  
      height: 500px;
      width: 100px;
      border-radius: 5%;
      border: none;
      color: #f3f3f3;
      background-color: rgb(98, 10, 16);
      font-weight: bold;
      font-size: 40px;
      margin: 2rem;
      padding: 1rem;
      line-height: 100px;
    }

    /* login.html */
    t1 {
      font-size: 30px;
      font-weight: bold;
      color: rgb(98, 10, 16);
      text-shadow: 2px 4px 4px rgba(46, 0, 0, 0.6);
      padding: 12px 0 0 0;
      display: inline-block;
    }
    input {
      padding: 8px 20px;
      margin: 12px 8px;
      border: 1px solid #330000;
      border-radius: 8px;
    }

    /* signup.html */
    t2 {
      font-size: 30px;
      font-weight: bold;
      color: rgb(98, 10, 16);
      text-shadow: 2px 4px 4px rgba(46, 0, 0, 0.6);
      padding: 2px 0 0 0;
      display: inline-block;
    }