    /* You can add global styles to this file, and also import other style files */
    body {
      font-family: 'Roboto', sans-serif;
      background-image: url("gladiator.png"); 
      background-size: auto;
      background-size: 100%;

    }  
    h1 {
      font-size: 120px;
      font-weight: bold;
      color: rgb(98, 10, 16);
    } 
    h3 {
      height: 30px;
      font-size: 30px;
      color: rgb(41, 41, 41);
      
    } 
    .loginpage {  
      height: 500px;
      width: 100px;
      border-radius: 5%;
      border: none;
      color: #f3f3f3;
      background-color: rgb(98, 10, 16);
      font-weight: bold;
      font-size: 40px;
      margin: 2rem;
      padding: 1rem;
    }
    
    .signuppage {  
      height: 200px;
      width: 100px;
      border-radius: 5%;
      border: none;
      color: #f3f3f3;
      background-color: rgb(98, 10, 16);
      font-weight: bold;
      font-size: 40px;   
      margin: 2rem;
      padding: 1rem;
    }
    .guestpage {
      height: 200px;
      width: 500px;
      border-radius: 5%;
      border: none;
      color: #f3f3f3;
      background-color: rgb(98, 10, 16);
      font-weight: bold;
      font-size: 50px;  
      line-height: 150px;
      padding: 1rem; 
    }