<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>e-Colosseum</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="../../styles.css" />
</head>
<body>
  <center><h1>E-COLOSSEUM</h1></center>
  <center><h3>Play against your friends in a 1v1 competition of cognitive brain skill!</h3></center>
  <app-root>
    <center><t1>Username: <input type="textbox" name="username"></t1></center>
    <center><t1>Password: <input type="password" name="password"></t1></center>
    <center><button class="login">Login!</button></center>
    <center><a href="index.html" class="backpage">Back</a></center>
  </app-root>
</body>
</html>